---
import { Icon } from "astro-icon/components";
import {
  getLangFromUrl,
  useTranslations,
  type TranslationKey,
} from "~/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services: {
  icon: string;
  titleKey: TranslationKey;
  descriptionKey: TranslationKey;
}[] = [
  {
    icon: "globe",
    titleKey: "service.web-design.title",
    descriptionKey: "service.web-design.description",
  },
  {
    icon: "chart-line",
    titleKey: "service.ecommerce.title",
    descriptionKey: "service.ecommerce.description",
  },
  {
    icon: "settings",
    titleKey: "service.custom-dev.title",
    descriptionKey: "service.custom-dev.description",
  },
  {
    icon: "trending",
    titleKey: "service.seo.title",
    descriptionKey: "service.seo.description",
  },
  {
    icon: "compass",
    titleKey: "service.consulting.title",
    descriptionKey: "service.consulting.description",
  },
  {
    icon: "refresh",
    titleKey: "service.maintenance.title",
    descriptionKey: "service.maintenance.description",
  },
];
---

<section id="services" class="px-6 py-32 sm:py-40 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <header class="max-w-2xl">
      <h2 class="">
        {t("services.title")}
      </h2>
    </header>

    <ul
      class="mx-auto mt-20 grid max-w-6xl grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        services.map((service) => (
          <li>
            <a
              href="#contact"
              class={`text-muted-foreground group rounded-lg bg-primary/5 transition-all p-7 flex flex-col gap-6 hover:border-foreground/20 border border-transparent`}
            >
              <Icon name={service.icon} class="size-7" />
              <h3 class="project-title text-foreground">
                {t(service.titleKey)}
              </h3>
              <p class="text-sm">{t(service.descriptionKey)}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
