---
import { Icon } from "astro-icon/components"

const services = [
  {
    icon: "bot",
    title: "Asistentes de reservas",
    description: "WhatsApp, Instagram, Web, Google Calendar",
  },
  {
    icon: "refresh",
    title: "Automatización de tareas",
    description: "Notificaciones, recordatorios, pagos, emails, CRM…",
  },
  {
    icon: "globe",
    title: "Diseño web optimizado",
    description: "Velocidad, SEO, conversión",
  },
  {
    icon: "trending",
    title: "Estrategias SEO completas",
    description: "Keywords, contenido, backlinks, analítica",
  },
  {
    icon: "puzzle",
    title: "Integraciones personalizadas",
    description: "APIs, herramientas de terceros, etc.",
  },
  {
    icon: "settings",
    title: "Soporte y mantenimiento",
    description: "Actualizaciones, mejoras y nuevas funcionalidades",
  }
]
---

<section class="px-6 py-32 sm:py-40 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-2xl text-center intersect-once intersect:motion-preset-blur-down motion-delay-200 first_hidden">
      <h2 class="text-balance text-4xl font-bold tracking-tight text-foreground sm:text-5xl">
        Soluciones a tu medida
      </h2>
      <p class="mt-6 text-pretty text-lg leading-relaxed text-muted-foreground">
        No todos los negocios son iguales. Nosotros adaptamos la tecnología a ti.
      </p>
    </div>

    <ul class="mx-auto mt-20 grid max-w-6xl grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {services.map((service,index) => (
        <li
           class={`intersect-once group rounded-xl bg-primary/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl intersect:motion-preset-blur-down motion-delay-${index * 100} first_hidden`}
           >
          <header>
            <div class="p-6">
            <p class="text-primary">
              <Icon name={service.icon} class="h-10 w-10 text-primary-800" />
            </p>
            </div>
          </header>
          <div class="p-6 ">
            <h3 class="text-xl font-bold">{service.title}</h3>
            <p class="leading-relaxed text-foreground/70">{service.description}</p>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>