---
import { branding } from "~/config/branding";
import { copy } from "~/lib/copy";

const navItems = [
  { href: "/proyectos", label: copy.nav.projects },
  { href: "/blog", label: copy.nav.blog },
  { href: "/nosotros", label: copy.nav.about },
];
---

<header
  class="fixed w-[90vw] lg:w-fit rounded-full top-6 left-1/2 -translate-x-1/2 z-50 bg-accent shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-1px_rgba(0,0,0,0.06)] flex items-center justify-between p-2 gap-10"
>
  <!-- Logo -->
  <a
    href="/"
    class="text-2xl font-bold hover:opacity-80 transition-opacity p-2 bg-green-100 rounded-full"
  >
    {branding.name}
  </a>

  <!-- Desktop Navigation -->
  <nav class="hidden lg:flex items-center">
    {
      navItems.map((item) => (
        <a
          href={item.href}
          class="text-muted-foreground py-2 px-4 text-sm hover:underline font-medium"
        >
          {item.label}
        </a>
      ))
    }
  </nav>

  <!-- Actions -->
  <div class="flex items-center gap-4">
    
    <a
      href={`/contact`}
      target="_blank"
      rel="noopener noreferrer"
      class="hidden lg:flex gap-2 items-center p-2 rounded-full bg-foreground text-background text-sm"
    >
      Contactar
      <svg
        class="w-4 h-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </a>
  </div>
</header>

<!-- Spacer to prevent content from going under fixed header -->
<div class="h-20"></div>
