---
import TestimonialLoop from "~/components/TestimonialLoop";
import TestimonialsStaticCards from "./TestimonialsStaticCards.astro";

 

export type Testimonial = {
  id: number;
  text: string;
  author: string;
  company: string;
};

const testimonials = [
  {
    id: 1,
    text: "Desde que instalamos el asistente de reservas, pasamos de 10 a 35 citas semanales sin levantar el teléfono.",
    author: "Juan Pérez",
    company: "Barbería Central",
   },
  {
    id: 2,
    text: "✅ Muy recomendado",
    author: "María García",
    company: "Empresa B",
   },
  {
    id: 3,
    text: "🚀 Excelente servicio",
    author: "Carlos López",
    company: "Empresa C",
   },
];


---

<section class="py-32 relative sm:py-40 w-full md:px-20 overflow-x-visible max-w-8xl mw-auto flex flex-col gap-14">
  <div>
    <h2 class="text-balance text-4xl font-bold tracking-tight text-foreground sm:text-5xl flex flex-col gap-1 text-center">
      <span>
        Ellos ya trabajan menos
      </span>
      <span class="text-primary text-6xl">
        y ganan más
      </span>
    </h2>
  </div>

  <div class="overflow-hidden">
    <TestimonialLoop 
    className="max-md:hidden"
    client:load
    testimonials={testimonials}
    logoHeight={350}
      />

      <TestimonialsStaticCards testimonials={testimonials} className={"md:hidden"} />
  </div>

 </section>
  
 