---
import type { Testimonial } from './Testimonials.astro';
import { Icon } from 'astro-icon/components';

type Props = {
  testimonials: Testimonial[];
  className?: string;
};

const { testimonials, className } = Astro.props;
---

<ul class={`grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full px-4 pb-18 ${className?? ""}`}>
  {testimonials.map((testimonial) => (
    <li
      class="border-foreground/10 border rounded-2xl shadow-2xl max-w-xl p-8 sm:p-10 grid grid-rows-[1fr_auto] gap-2"
    >
      <header class="h-full flex flex-col gap-4">
        <div class="flex gap-1">
          {[...Array(5)].map((_) => (
            <Icon name="star" class="h-5 w-5 fill-primary" />
          ))}
        </div>
        <blockquote class="text-pretty text-xl font-medium leading-relaxed text-card-foreground sm:text-2xl">
          {testimonial.text}
        </blockquote>
      </header>

      <div class="h-fit border-t border-border pt-4">
        <p class="text-lg font-bold text-foreground">
          {testimonial.author}
        </p>
        <p class="mt-1 text-sm text-muted-foreground">
          {testimonial.company}
        </p>
      </div>
    </li>
  ))}
</ul>