---
import MainLayout from "~/layouts/MainLayout.astro";

import Hero from "~/components/Layout/hero.astro";
import Services from "~/components/Services/Services.astro";
import PortfolioPreviewList from "~/components/Portfolio/portfolio-preview-list.astro";
import BlogSection from "~/components/Blog/BlogSection.astro";
import Contact from "~/components/Contact/Contact.astro";
import FAQ from "~/components/FAQ/FAQ.astro";
---

<MainLayout>
  <main class="flex flex-col items-center w-full">
    <Hero />
    <Services />
    <!-- <PortfolioPreviewList /> -->
    <BlogSection />
    <FAQ />
    <Contact />
  </main>
</MainLayout>
