---
import { copy } from "~/lib/copy";
import AvailableTag from "../ui/AvailableTag.astro";
import Button from "../ui/Button.astro";

const { hero } = copy;
---

<section
  id="hero"
  class="relative flex flex-col gap-10 justify-center px-6 pt-20 items-center"
>
  <AvailableTag />
  <!-- Main title -->
  <h1
    data-reveal
    class="text-2xl max-w-2xl text-center md:text-5xl font-semibold tracking-tight text-foreground data-reveal"
  >
    {hero.title}
  </h1>

  <!-- Subtitle points -->
  <div
    data-reveal
    class="text-muted-foreground max-w-xl text-center lg:text-lg data-reveal motion-delay-200"
  >
    {hero.subtitle}
  </div>

  <!-- CTA -->
  <div class="data-reveal motion-delay-400 pt-4" data-reveal data-delay="400">
    <a href={`/contact`}>
      <Button withArrow>
        {hero.cta}
      </Button>
    </a>
  </div>
</section>
