---
import { copy } from "~/lib/copy";
import Button from "../ui/Button.astro";

const { hero } = copy;
---

<section
  id="hero"
  class="relative flex flex-col gap-10 justify-center px-6 pt-20 items-center"
>
  <!-- Content -->
  <div
    class="rounded-full p-2 items-center w-fit justify-center bg-accent flex gap-2 text-xs"
  >
    <div class="bg-green-400 rounded-full size-2 animate-pulse"></div>
    Disponibles para proyectos
  </div>
  <!-- Main title -->
  <h1
    class="text-2xl max-w-2xl text-center md:text-5xl font-semibold tracking-tight leading-[1.1] text-[#0f1115] dark:text-neutral-50 motion-preset-blur-up"
    style="letter-spacing: -0.04em;"
  >
    {hero.title}
  </h1>

  <!-- Subtitle points -->
  <div
    class="text-muted-foreground max-w-xl text-center lg:text-lg motion-preset-blur-up motion-delay-200"
  >
    {hero.subtitle}
  </div>

  <!-- CTA -->
  <div class="motion-preset-blur-up motion-delay-400 pt-4">
    <a href={`/contact`}>
      <Button withArrow>
        {hero.cta}
      </Button>
    </a>
  </div>
</section>
