---
import StatCard from "~/components/ui/StatCard.astro";
import SectionHeader from "../ui/SectionHeader.astro";

const stats = [
  {
    number: "+30",
    label: "Proyectos lanzados",
    description:
      "Desde webs simples hasta plataformas complejas, hemos ayudado a personas como tú a lanzar sus productos digitales al mercado.",
  },
  {
    number: "5/5",
    label: "Satisfacción del cliente",
    description:
      "Nuestros clientes valoran nuestro compromiso con la calidad, la comunicación transparente y la entrega de resultados que superan expectativas.",
  },
  {
    number: "x5",
    label: "Crecimiento promedio de usuarios",
    description:
      "Nuestros clientes han experimentado un crecimiento promedio de 5 veces en su base de usuarios después de trabajar con nosotros.",
  },
];
---

<section class="landing-section">
  <SectionHeader
    title="Simplificamos el proceso,"
    subtitle="y entregamos resultados."
    align="center"
    tag="Impacto"
  />
  <!-- Bento Grid -->
  <div class="gap-4 grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] w-full">
    {
      stats.map((stat) => (
        <StatCard
          number={stat.number}
          label={stat.label}
          description={stat.description}
        />
      ))
    }
  </div>
</section>
