---
import MainLayout from "~/layouts/MainLayout.astro";

import CaseStudies from "~/components/sections/CaseStudies.astro";
import ClientsCarousel from "~/components/sections/ClientsCarousel.astro";
import FinalCTA from "~/components/sections/FinalCTA.astro";
import ForWho from "~/components/sections/ForWho.astro";
import Hero from "~/components/sections/Hero.astro";
import Impact from "~/components/sections/Impact.astro";
import Method from "~/components/sections/Method.astro";
import Positioning from "~/components/sections/Positioning.astro";
import Problem from "~/components/sections/Problem.astro";
import WhatWeDo from "~/components/sections/WhatWeDo.astro";
import WhyUs from "~/components/sections/WhyUs.astro";
---

<MainLayout>
  <main class="flex flex-col w-full">
    <Hero />
    <ClientsCarousel />
    <Problem />
    <Positioning />
    <Impact />
    <WhatWeDo />
    <Method />
    <CaseStudies />
    <ForWho />
    <WhyUs />
    <FinalCTA />
  </main>
</MainLayout>
