---
import MainLayout from "~/layouts/MainLayout.astro";

import Bento from "~/components/Bento/Bento.astro";
import Hero from "~/components/Layout/hero.astro";
import { getProjects } from "~/lib/utils";
const firstProjects = getProjects(6);
---

<MainLayout>
  <main
    class="flex flex-col gap-20 items-center w-full"
  >
    <Hero />
    <Bento/>
    <!-- <StickyImages /> -->

    <!-- <Ticket /> -->

   </main>
</MainLayout>
