---
import MainLayout from "~/layouts/MainLayout.astro";

import Bento from "~/components/Bento/Bento.astro";
import Hero from "~/components/Layout/hero.astro";
import Services from "~/components/Services/Services.astro";
import Testimonials from "~/app/sections/testimonials/Testimonials.astro";
---

<MainLayout>
  <main
    class="flex flex-col gap-20 items-center w-full"
  >
    <Hero />
    <Bento/>
    <Services/>
    <Testimonials/>
   </main>
</MainLayout>
