---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
---

{
  projects.map(
    (project) =>
      project.data.logo && (
        <div class="flex items-center justify-center opacity-40 hover:opacity-100 transition-opacity duration-300">
          <Image
            src={project.data.logo}
            alt={`Logo de ${project.data.client}`}
            width={120}
            height={40}
            class="h-10 w-auto object-contain"
          />
        </div>
      ),
  )
}
