---
import type { Client } from "./clients.ts";
type Props = {
  clients: Client[];
};

const { clients } = Astro.props;
---

{
  clients.map((client) => (
    <div class="flex items-center justify-center opacity-40 hover:opacity-100 transition-opacity duration-300">
      <div class="flex items-center gap-3">
        <span class="text-4xl">{client.logo}</span>
        <span
          class="text-lg font-medium text-muted-foreground whitespace-nowrap"
         >
          {client.name}
        </span>
      </div>
    </div>
  ))
}
