---
import CtaButton from "~/components/ui/CtaButton.astro";
import { getMetadata } from "~/lib/constants";


const {name} = getMetadata();

---

<footer
  class="min-h-[90dvh] bg-foreground text-background w-dvw rounded-t-[10vw] mt-20 z-50 flex justify-center pb-20"
>
  <div
    class="max-w-7xl px-6 xl:px-10 w-full mx-auto   flex-col grid grid-rows-[1fr_auto] gap-4"
  >
  <div class="flex flex-col items-center justify-center text-center gap-4 mb-10 mt-10">

    <h2 class="text-4xl md:text-6xl">Haz que tu negocio trabaje solo.</h2> 
    <p class="sm:text-2xl text-background/80">Da el paso hacia un sistema que vende, agenda y crece sin ti.</p>
    <div class="mt-8 text-background">
      <CtaButton/>
    </div>


  </div>

    <div class="grid md:grid-cols-2 gap-4 items-end">
      <div class="flex flex-col gap-2">
         <p>© {name} {new Date().getFullYear()}</p>
      </div>
     
    </div>
  </div>
</footer>

 