.footer-section {
  text-align: left;
}
.footer-section-title {
  color: #00000070;
  font-weight: var(--font-weight-base);
  letter-spacing: .5px;
  margin-bottom: 1rem;
  text-transform: none;
}


.footer-section-links {
  list-style: none;
  margin: 0;
  padding: 0; 
  li {
    margin-bottom: .5rem;
    cursor: default;

  }
}
.footer-link-disabled {
  
   pointer-events: none;
  text-decoration: none;
}