---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Layout/footer.astro";
import Navbar from "../components/Layout/navbar.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="es" dir="ltr" class="w-screen overflow-x-hidden">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Navbar />
    <main class="flex flex-col w-full gap-20 pb-36">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import "/src/shared/scripts/reveal.ts";
</script>

<style is:global>
  @keyframes opacity-fade {
    from {
      opacity: 1;
    }
    to {
      transform: translateY(20px);
      opacity: 0;
      filter: blur(10px);
    }
  }
</style>
