<div
  data-reveal="top"
  class="rounded-full py-2 px-4 items-center w-fit text-muted-foreground justify-center bg-accent flex gap-2 text-xs reveal"
>
  <div class="bg-green-400 rounded-full size-2 animate-pulse"></div>
  Disponibles para proyectos
</div>
