---
import { cn } from "~/lib/utils";
import UpRightArrow from "./UpRightArrow.astro";
import { Ripple } from "./primitives/ripple/ripple";
export type ButtonProps = {
  size?: "sm" | "md" | "lg";
  class?: string;
  withArrow?: boolean;
  type?: "button" | "submit" | "reset";
};

type Props = ButtonProps;

const {
  class: className = "",
  size = "md",
  withArrow = false,
  type = "button",
  ...rest
} = Astro.props;
---

<button
  data-size={size}
  type={type}
  class={cn(
    "group text-background gap-2 p-2.5 text-center justify-center transition-all rounded-full w-fit flex items-center bg-foreground select-none hover:shadow-xl active:shadow-lg hover:bg-foreground/90 shadow-pastel-sm",
    "focus:outline-none ring-2 ring-transparent focus:ring-primary",
    withArrow && size === "sm" && "pr-1",
    withArrow && size === "md" && "pr-3",
    withArrow && size === "lg" && "pr-5",
    size === "sm" && "py-1 px-3 text-sm",
    size === "md" && "px-5 py-2.5 text-base",
    size === "lg" && "p-3 text-lg",
    className,
  )}
  {...rest}
>
  <slot />
  <Ripple client:load />
  {withArrow && <UpRightArrow />}
</button>
