---
import { Icon } from "astro-icon/components";
import {
  type TranslationKey,
  getLangFromUrl,
  useTranslations,
} from "~/i18n/utils";
import { getMetadata } from "~/lib/constants";
import Button, { type ButtonProps } from "./Button.astro";

type Props = {
  labelKey?: TranslationKey;
} & ButtonProps;

const { labelKey = "contact", ...buttonProps } = Astro.props;
const { getInTouch } = getMetadata();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a href={getInTouch.href}>
  <Button withArrow {...buttonProps}> {t(labelKey)} </Button>
</a>
