---
import { Icon } from "astro-icon/components";
import { getMetadata } from "~/lib/constants";
type Props={
  class?:string
};

const {class: className = ""}=Astro.props;
const {getInTouch} = getMetadata();

---

<a href={getInTouch.href} target="_blank" rel="noopener noreferrer" class={`h-14 gap-2 px-8 text-base font-semibold shadow-lg w-fit transition-all hover:scale-105 rounded-full flex items-center text-current bg-primary-700 hover:brightness-90 ${className}`}>
  <Icon name="whatsapp" class="h-5 w-5 text-current" />
  {getInTouch.label}
</a>