---
import { Icon } from "astro-icon/components";
import { getMetadata } from "~/lib/constants";
type Props={
  class?:string
};

const {class: className = ""}=Astro.props;
const {getInTouch} = getMetadata();

---

<a href={getInTouch.href} target="_blank" rel="noopener noreferrer" class={`text-background h-14 gap-2 px-8 text-base font-semibold shadow-lg text-center justify-center transition-all hover:scale-105 rounded-full w-fit flex items-center bg-primary-700 hover:brightness-90 select-none ${className}`}>
  <Icon name="whatsapp" class="h-5 w-5 text-current" />
  {getInTouch.label}
</a>