---
type Props = {
  label: string;
  value: string;
};
const { label, value } = Astro.props;
---

<li class="p-2 rounded-full bg-muted flex gap-3 items-center">
  <slot />

  <div>
    <span class="text-sm uppercase text-muted-foreground">
      {label}
    </span>
    <span class="text-foreground">
      {value}
    </span>
  </div>
</li>
