---
type Props = {
  label: string;
  value: string;
};
const { label, value } = Astro.props;
---

<li class="p-2 rounded-full bg-muted flex gap-3 items-center">
  <i
    class="size-12 grid place-items-center aspect-square rounded-full bg-background"
  >
    <slot />
  </i>
  <div class="flex flex-col gap-1 pr-4">
    <span class="text-xs tracking-tight uppercase text-muted-foreground">
      {label}
    </span>
    <span class="text-foreground">
      {value}
    </span>
  </div>
</li>
