---
import { Icon } from "astro-icon/components";
import { cn } from "~/lib/utils";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class={cn(
    "rounded-full p-1 bg-stone-500/20 border border-stone-500/40 flex items-center justify-center group-hover:rotate-45 transition-all duration-300",
    className,
  )}
>
  <Icon name="arrow-up-right" class="size-4" />
</div>
