---
import { Icon } from "astro-icon/components";
---

<div
  class="rounded-full p-1 bg-stone-500/20 border border-stone-500/40 flex items-center justify-center"
>
  <Icon
    name="arrow-up-right"
    class="size-4"
  />
</div>
