---
import CtaButton from "./CtaButton.astro";
---

<div class="sticky bottom-4 flex justify-end z-50 px-4 md:hidden">
  <CtaButton class="animate-in fade-in duration-1000 first_hidden delay-1000" />
</div>
